body{
	margin: 0;
	background-color: #120042;
	background-image: -o-linear-gradient(20deg, #52006e 42%, #002a8c);
	background-image: linear-gradient(70deg, #52006e 42%, #002a8c);
}


content{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;

}


header{
	margin: 5px 5px 9rem 5px;
}


header h1,
header p{
	color: white;
}


.card{
	margin: 1rem;
}


.button-align{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}