body{
	font-family: monospace;
	overflow-x: hidden;
	margin: 0;
}

.doga{
	background: url(img/background.jpg) no-repeat center center fixed;
	background-size: cover;
}

.A{
	background: url(img/Abackground.jpg) no-repeat center center fixed;
}

.B{
	background: url(img/Bbackground.jpg) no-repeat center center fixed;
	background-size: cover;
}

.C{
	background: url(img/Cbackground.jpg) no-repeat center center fixed;
	background-size: cover;
}

.E{
	background: url(img/Ebackground.jpg) no-repeat center center fixed;
	background-size: cover;
}

.F{
	background: url(img/Fbackground.jpg) no-repeat center center fixed;
	background-size: cover;
}

section{
	margin-top: 8rem;
}

h3, h2, p{
	text-align: center;
}

#aciklamalarBaslık > h2{
	width: 300px;
	border-radius: 0 25px 0 25px;
	background-color: rgba(150, 232, 212, 0.5);
	border-bottom: 3px solid rgb(61, 227, 202);
	border-top: 3px solid rgb(61, 227, 202);
}

#aciklamalarBaslık{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

li{
	list-style: none;
}

.writing{
	border-radius: 5px;
	margin: 1rem;
	padding: 0.5px;
	background-color: rgba(250, 250, 250, 0.5);
	text-align: left;
}

.note-p{
	margin: 1rem;
	text-align: left;
}

.navDiv{
	border-radius: 20px;
	border: 3px solid black;
	background-color: white;
}

.navDiv p{
	color: black;
}

h3{
	border-radius: 10px 10px 0 0;
	margin-left: 20px;
	width: 100px;
	background-color: rgba(179, 232, 212, 0.5);
}


